body{
  margin:auto;
    width:900px;
    background-color: #5e81ad;
    color:white;
    
    font-family: 'Manrope', 'Arial Narrow';
    margin:0;
    padding:0;
}	
@media (-webkit-device-pixel-ratio: 1.5) { 
  body{
    font-size:12px;
  }
}
#addBlock{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width:100%;/*528px;*/
  box-sizing: border-box;
}
.componentBlock{
  display:flex;
  flex-direction: column;
  justify-content: right;
  gap:10px;
  margin-top: 20px;
  min-width: 256px;
  /* width: 30%; */
}
.buttonBlock{
  display:flex;
  justify-content: center;
  width:100%;
  margin-top: 100px;

}
.cb > label:after{
  content: '';
  margin-left:10px;
}
#notesWrapper{
  display:flex;
  flex-direction:column;
}
#custNameWrapper  ul{
    list-style: none;
    color:rgb(136, 197, 250);
    margin-bottom:10px;
    float:left;
    text-align: left;
    padding-inline-start: 30px;
    margin-block-start: 0;
}
#radioContainer{
  display:flex;
  justify-content: right;
  margin-top: 10px;
  height: 25px;
}
#cbWrapper{
  display:flex;
  flex-direction: column;
  justify-content: right;
}
label:not(.ampmWrapper > label){
  text-shadow: 1px 1px black;
}

  input[type='checkbox'] {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 2px;
    display: inline-block;
    /* font: inherit; */
    height: .5em;
    font-size:.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
  }
  /* input[type='checkbox']:checked{
      background-color: orangered;
  } */
select {

    /* styling */
    background-color: white;
    /* border: thin solid blue; */
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  
  /* arrows */
  
  select.classic {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 20px) calc(1em),
      calc(100% - 15px) calc(1em),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
  }
  
  select.classic:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
  }
  
  SELECT OPTGROUP OPTGROUP{
    text-indent: 20px;
    color: red;
  }
  select optgroup[label]{
    font-size: 1.25em;
    MARGIN-LEFT:0PX;
    color:black;
    background-color:rgb(214, 212, 212);
  }
  optgroup option{
    font-size: .75em;
    font-weight:700;
    text-indent:20px;
    padding-left:50px;
    color:hsl(0, 0%, 26%);
    background-color:white;
    
  }
  select option[disabled]{
    
    color:rgb(77, 76, 76);/*rgb(77, 57, 50);*/
    font-size: 20px;
    font-weight:100;
    border-bottom:1px solid;
    
  }
  
 
 
  #unitWrapper,#unitTypeWrapper{
    flex-direction: column;
  }
  option.line{
    border-bottom: 2px solid black;
  }
  .componentWrapper{
    display:flex;
    justify-content: right;
    align-items:center;
  }
.visibleInput{
	display:flex;
  justify-content: left;
  position:relative;
  /* align-items:center; */
	/* float:right; */
  height:auto;
	margin:3px;
	clear: both;
	
}
.teal{
  color:hsl(180, 100, 25)
}
fieldset{
  border: 0;
  width: 32%;
}
.visibleFieldset{
    display: block;
	margin:5px;
	clear: both;	
  width:400px;
}
.message{
  width:100%;
  color:red;
}
.hiddenInput{
        display:none;
        /* float:right; */
}
/* #dateWrapper_OTL_SCHEDULED{
  border:1px solid #5e81ad;
} */
#dateWrapper{
  
  flex-direction:column;
}
#customerNameWrapper{
        
        overflow: hidden;
        height: 2.5em;
}

.actionLink{
  font-size: .8rem;
  cursor: pointer;
  margin: 3px;
  color: dodgerblue;
  text-decoration-line:none;
  margin-left:10px;
  
}
.actionLink:hover{
  color: rgb(180, 134, 180);

}
#contactsIcon{
        display:inline-block;
        background-color: white;
        z-index: 100;
        height:19px;
        vertical-align: middle;
        margin-right: -4px;
        margin-top:-1px;
        cursor: pointer;
}
#h {
    text-align:left;
}
#addForm{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#formButtons{
  display:flex;
  justify-content: space-around;
  
    
    
}
#formButtons input{
    margin:5px;
    text-align: center;
}
/* input[type="text"], select{
    width: 200px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
} */
select{
  width: 200px;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#contactsList{
    float: right;
    width:185px;
}
.btn{
  display:flex;
  width:30%;
  height:30px;
  justify-content: center;
  border:1px solid #5e81ad;
  background-color:#5e81ad;
  border-radius: 3px;
  cursor:pointer;
  color: black;
  text-shadow: 1px 1px black;
  text-align: center;  
}
.btn:hover{
  color:white;
  
}

.cb{
  display:flex;
  flex-direction: row;
  justify-content: right;
  color:white;
}
.cb:first-of-type{
  margin-top:20px;
}