@import './schemes.css';
body{
    background-color: var(--clr-bg-header-section);
    width:500px;
    height:auto;
    color: var(--clr-font-header-section);
    font-weight: 400;
    font-family: "Arial Narrow";
}

datalist{
	display:none;
	z-index: 900000;
    visibility: collapse;
    
    overflow-y: scroll;
    height: 400px;
    
}
#txtCustomerName{
    float:left;
    display:block;
    margin: auto;
    margin-left:calc(100%/3);
}

#customerNameWrapper{
    /* display:block; */
    display:flex;
    justify-content: center;
    width:100%;
    /* margin:auto; */
    margin-bottom:10px;
    
}
#editCustNameWrapper{
    display:none;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap:5px;
    width:100%;
    
    margin-top:25px;
    
  }
#inpCompanyNameEdit{
    margin:0;
    display:flex;
    height:2.5em;
}
#newContactFormContainer{
    display:none;
    position:relative;
}
select option :disabled{color:blue;}
#companyHeader{
    /* float:left;
    clear:both; */
    padding:0;
    
    color:var(--clr-bg-header-main);/*rgb(186, 245, 242);*/
    display:none;
    
    width:100%;
    margin-right:20px;
}
.sticky{
    position: -webkit-sticky;
    position: sticky;
}

ul li ul > a{
    font-size:15px;
    text-decoration: none;
    text-align: right;
    float: center;
}
/* ul{
    background-color:aliceblue;
} */
/* ul li:nth-child(odd){
    background-color: #749dcf;
} */
#contactsMain{
    float: left;
    width: 100%;
    display: "block";
    background-color: var(--clr-bg-header-section);
    margin-right:20px;
    color:black;
    
}
#contactsHeader h2{
   
    color: #5e81ad;/*lightcyan;*/
    
}
.inline-input-group{
float: left;
width:100%;
}
.input-block{
    display: inline-block;
    
    margin:10px;
   
}
input{
   
    border:1px solid #5e81ad;
    height: 2rem;
    width: 225px;
    float: left;    
    padding-left: 5px;
    margin: auto
}
label{
    float:left;
    font-size: 1rem;
    margin-bottom: 5px;
  
}
#vlah{
    clear:both;
}
.addAdditional{
    float:left;
    font-size: 28px;
    
    vertical-align: middle;
    border:1px solid black;
    height:20px;
}
ul {
font-size: 1.4rem;
/* color: #5e81ad;lightcyan; */
list-style: none;
padding-left: 15px;
font-weight:200;

}
ul li{
    clear: both;
    border-top: 1px solid black;/*lightcyan;*/
    font-weight: 800;
    /* border-bottom: 1px solid black; */
    padding-top: 10px;
}
ul li ul{
    clear: both;
    font-size: 1.15rem;
    color: #032753;
    padding-left: 30px;
    padding-bottom: 10px;
   

}

ul li ul li{
    clear: both;
    
    list-style: none;
    font-size: 1em;
    color:aliceblue;
    list-style-position: outside;
    padding-left: 15px;
    border: none;
    font-weight: 200;
}
.actionLink{
    font-size: 1.2rem;
    cursor: pointer;
    margin: 3px;
    color: var(--clr-bg-secondary);
    text-decoration-line:none;
    display:none;
}
.actionLink:hover{
    color: hsl(0, 0%, 35%);

}
span.actionLink i{
    margin-left:5px;
}
#currentContacts{
    width:100%;
    float:left;
    
}

#currentContacts > ul{
   float:left;
   width:95%;
}
.primary{
    float:left;
    
}
.indicator{
    color:hsl(300, 84%, 87%);
    color:yellowgreen;
    font-size: 1em;
}
.visible{
    display:block;
}
.hidden{
    display:none;
}
.divPrimaryCheckbox{
    float:left;
    font-size: .75em;
    display:none;
    width:100%;
}
.divPrimaryCheckbox label{
    font-size: 1em;
    margin-left:5px;
    color:#032753;
}

  
  .actionLink .tooltip {
    font-size: .75rem;
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #5e81ad;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .actionLink:hover .tooltip {
    visibility: visible;
  }
  #buttonContainer{
      /* float:left; */
      width:100%;
      display:flex;
      justify-content: space-around;
      flex-direction: row;
  }
.contactButton{
    width: 55px;
    height:30px;
    text-align: center;
    margin:5px 3px 3px 10px;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    float:left;
    border: 2px solid green;
    font-size:.8em;/*.8em;*/
    border-radius: 5px;
    color:white;
    background-color: green;
    
}
.contactButton:hover{
    border: 2px solid white;
    
}
.smallButtonContainer{
    float:left;
    height: 20px;
    margin-left: 15px;
    
}
.cbPrimary{
    width: 10px;
    height:10px;
    outline-color: dodgerblue;
}

.smallButton{
    width: 30px;
    height:15px;
    text-align: center;
    margin:0px 5px; 
    cursor: pointer;
    border: 1px solid #5e81ad;
    float:left;
    padding:2px 10px;
    font-size:12px;/*.8em;*/
    color:#5e81ad;
    
}
.button{
    float:right;
    border:1px solid #5e81ad;
    background-color:#5e81ad;
    margin: 3px;;/* */
    padding:1px 3px;
    cursor:pointer;
    color: black;
    width: 70px;
    text-align: center;  
    box-sizing: border-box;
    
}
.button:hover{
    border:2px solid white;  
    box-sizing: border-box;
}
.large{
    width:100px;
    box-sizing: border-box;
    border: 2px solid #5e81ad;
}
.medium{
    width:70px;
}
.largeButton{
    float:right;
    border:1px solid #5e81ad;
    background-color:#5e81ad;
    margin: 3px;;/* */
    padding:1px 3px;
    cursor:pointer;
    color: black;
    width: 100px;
    text-align: center;  
}
.largeButton:hover{
    color:white;
    background: #5e81ad;
    cursor:pointer;
}
.compHeader{
    float:left;
    font-size:2em;
    margin: 10px 10px 10px 0;
    font-weight: 800;
    
    text-align: center;
    border-bottom: 1px solid black;
    
}
.headerContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    
}
.mainContactButton{
    /* float:right; */
    border:1px solid var(--clr-bg-button-main);
    border-radius: 5px;
    margin: 3px;;/* */
    padding:1px 3px;
    cursor:pointer;
    background-color: var(--clr-bg-button-main);
    width: calc(90%/3);
    text-align: center;
}
.mainContactButton:hover{
   
    border: 1px solid white; 
    cursor:pointer;
}
.mainContactButton i{
    margin-left:10px;
}
.buttonSelected{    
    border: 1px solid white;    
    color:white;    
}
.buttonUnselected{    
        
    color:var(--clr-font-button-main);    
}

.nameInput{
    width:150px;
    margin: 5px 5px 5px 5px;
    float:left;
}
.wrapper{
    display:flex;
    flex-direction: row;

    width:100%;
    /* float:left; */
}
.message{
    width:100%;
    color:red;
}

.lbContacts{
    top:48px;
}
.contactNameRow{
    display:flex;
    width:100%;
    gap:5px;
    justify-content: left;
    align-items: center;
    /* border-bottom: 1px solid black; */
}
