body{
    color:#5e81ad;
    background-color: black;/*#0a073d;*/
    font-family:'Arial Narrow', Arial, Helvetica, sans-serif;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}
label{
    margin-right:5px;
    
}
.ribbon{
    justify-content: left;
    width:100%;
    min-height: 50px;
    /* float: left; */
    background-color: #5e81ad;
    margin-bottom:2px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}
.flexBetween{
    display:flex;
    justify-content: space-between;
}
.flexCenter{
    display:flex;
    justify-content: center;
}

.historyRibbon{
    height: 40px;
}
#mainMenu{
    display:flex;
    align-items:baseline;
    justify-content: space-around;
    width:100%;
    height:auto;
    
    
    
    text-align: center;
}
.mainOption{
    display:flex;
    justify-content: center;
    align-items: center;
    width: calc(90%/5);
    font-size: 25px;
    float: left;
    height: 35px;
    /* margin: 5px; */
    /* border-left: 1px solid #5e81ad;
    border-top: 1px solid #5e81ad;
    border-right: 1px solid #5e81ad; */
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}
/* #ribbon4 input{    
    border-radius: 5px; 
    
} */

/* input{
    border-radius: 5px;
}
button{
    border-radius: 5px;
} */
/* input[type=text]{
    border: none;
    background-color: #f0f4fa;
     
}
input[type=text]:focus-within{
   background-color: white;  
   color:#0a073d;
   outline-color: dodgerblue;
   outline-width: 1px;
} */


/* #ribbon4 input[type=button]:focus-within{
     
    
    border: 2px solid white;
 }
 #ribbon4 input[type=button]:hover{
     
    
    border: 2px solid white;
 } */

#customerNameWrapper{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
}

.chosen{
    color: white;    
    font-weight:bold;
    background-color: #5e81ad;

}
.unchosen{
    color: aliceblue;    
    
    background-color: #335f94;

}
select {
    height: 30px;
}
#dateRange{
    width: 260px;
    padding: 2px;
}
#reportEndDate{
    margin-top: 3px;
}
.ribbonAsset{
    display:flex;
    align-items: center;
    width:100%;
    
    margin: 10px 5px 5px 5px;
}
.hidden{
    display: none;
}
.visible{
    display:flex;
}
.resultsContainer{
    display:flex; 
    flex-direction: column;
    background-color: whitesmoke;  
    color:#1b1a1a;
    width: 100%;
    /* padding: 10px; */
    box-sizing: border-box;
}
.resultItem{
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.resultItem:nth-child(odd){
    background: rgb(216, 215, 215);
}
#activitySearchHS{
    justify-content: space-between;
}
#searchResult{
    
    border: 1px solid #5e81ad;
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: black;
}
#searchResult h1{
    text-align:center;
}

 .showAll{
    background-color: #5e81ad;
    color:white;
    cursor: pointer;
    padding: 0 3px 3px 3px;
    text-decoration: underline;
} 
#activitySearch{
    width:min(25% 250px);
    display: none;
    text-align:right;
    box-sizing: border-box;
    height: auto;
}
#activitySearchNS{
    display:flex;
    justify-content: left;
    gap: 20px;
    width:auto;
    text-align:left;
    float: left;
    height: auto;
}
.searchContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    display: none;
    height:40px;
}

select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    
    box-sizing: border-box;
    
  }
  
  
  /* arrows */
  
  select.classic {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
  }
  
  select.classic:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
  }
#reportForm{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:flex-start;
    width: 100%;
}
#reportFormWrapper{
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-direction:row;
    width: 100%;
}
/* .reportFormInput{
    height: 2em;
    float:left;
    width:75%;
    margin:2px;
} */
.rfLabel{
    width: 75%;
    /* float:left; */
    text-align: left;
    /* margin:2px; */
    margin-left:5px;
    color:whitesmoke;
}
/* label for ACH checkbox needs different styling than other form components */
.cbLabel{
    margin-left:5px;  
    text-align: right;    
    color:whitesmoke;
}
.sectionWrapper{
    display:flex;
    justify-content: left;
    flex-direction: column;
    --widthA: calc(99% / 3);
    width: calc(var(--widthA) - 30px);
    min-width: 200px;
    row-gap: 10px;
    /* padding-left:10px; */
    box-sizing: border-box;
}
.inputWrapper{
    display:flex;
    flex-direction:column;
    align-items: left;
    width: 100%; 
    /* margin: 10px;  */
    row-gap: 5px;
    box-sizing: border-box;
    
}
.cbWrapper{
    display:flex;
    flex-direction:row;
    justify-content: left;
    width: 100%;  
    margin-bottom:-3px;
    /* margin: 10px;  */
    row-gap: 5px;
}
.buttonWrapper{
    display:flex;
    flex-direction:row;
    align-items: center;
    width: 100%;  
    justify-content: center;
}
/* .btnReport{
    background-color:#5ead8a;
    color: whitesmoke;
    height: 2.5em;
    border: none;
    width:auto;
    margin: 25px 0px 10px 0; 
    cursor: pointer;
    outline:none;
    padding: 0 20px;
    font-size: 1.1em;
} */

.EODprintItem{
    font-size: 2em;
    width: 100%;
    float:left;
    border-bottom: 1px solid black;
}
.labelBox{
    float:left;
    width:50%;
    
}
.resultBox{
    float: right;
    width:50%;
    text-align: right;
}
.spacer{
    float:left;
    height:2em;
    width:100%;
    
}
.achWrapper{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: left;
    column-gap:5px;
    align-items: center;
    /* padding-right:10px; */
    box-sizing: border-box;
    margin-bottom: 5px;
    /* margin-top:5px; */
    
    
}
#achBox{
    display:flex;
    flex-direction: column;
    /* justify-content: right; */
    
    height:auto;
    width:100%;
    
}

.achLabel{
    width: 64%;
    float:left;
    text-align: right;
    margin:2px;
    
}
.achInput{
    width: 50%;
    height: 2em;
    border:none;
    outline-color: dodgerblue;
    
}

.addText{
    display: flex;
    aspect-ratio: 1;
    height:1em;
    justify-content: center;
    align-items: center;
    font-size:25px;
    color: whitesmoke;
    cursor: pointer;
    padding: 0;
}

/* lot report sections */
.mainLotReportHeader{
    display:flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height:50px;
    font-family: 'Manrope', serif;
    font-size: 3em;
    color: rgb(31, 30, 30);
    border-bottom: 1px solid black;

}
.reportSection{
    width:100%;
    margin-bottom: 20px;
}
.reportSection:nth-child(odd){
    border-top:1px solid rgb(31, 30, 30);
}
.sectionHeader{
    display:flex;
    width:100%;
    justify-content:left;
    font-family: 'Manrope', serif;
    font-size: 2em;
    color: rgb(31, 30, 30);
    margin-left: 10px;

}
.lineItem{
    display:flex;
    flex-direction:row;
    align-items: center;
    width:100%;
    height:30px;
    padding-left:15px;
    box-sizing:border-box;
    gap:30px;
    
}
.lineItem:nth-child(even) {background: rgb(216, 215, 215)}

.checkbox{
    display:flex;
    background-color:white;
    border:1px solid black;
    width:1em;
    height:1em;

}
.lineItemCompany{
    font-weight:500;
    margin-left:-20px;
    width:20%;
}
.lineItemSection{
    width: 20%;
}
/* #printLot{
    /* width:100px;
    height:50px; 
} */
.no-show-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75px;
}
.no-show-data{
    display:flex;
    align-items: center;
    width: 80%;
   
}
#reportResult >p{
    margin-left: 10px;
}
.no-show-container:nth-child(even) {background: rgb(216, 215, 215)}
