body{
    color:white;
    background-color: black;
    font-family:'Arial Narrow', Arial, Helvetica, sans-serif;
}
label{
    margin-right:5px;
}
.ribbon{
    width:100%;
    height:auto;
    float: left;
    
    margin-bottom:2px;
    text-align: center;
}
.historyRibbon{
    height: 40px;
}
.mainOption{
    width: calc(90%/5);
    font-size: 25px;
    float: left;
    height: 35px;
    margin: 5px;
    border: 1px solid #5e81ad;
    cursor: pointer;
    
}
#customerNameWrapper{
    float:left;
}

.chosen{
    color: white;    
    
    background-color: #5e81ad;

}
.unchosen{
    color: #5e81ad;    
   
    background-color: black;

}
select {
    height: 30px;
}
#dateRange{
    width: 260px;
    padding: 2px;
}
#reportEndDate{
    margin-top: 3px;
}
.ribbonAsset{
    float:left;
    width:100%;
    
    margin: 10px 5px 5px 5px;
}
.hidden{
    display: none;
}
.visible{
    display:block;
}
.resultsContainer{
    float:left;    
    color:#5e81ad;;
    width: 100%;
}
#searchResult{
    border: 1px solid #5e81ad;
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: black;
}
#searchResult h1{
    text-align:center;
}

.searchInputButton{
    background-color: #5e81ad;
    color:white;
    cursor: pointer;
    padding: 0 3px 3px 3px;
}
#activitySearch{
    width:50%;
    display: none;
    text-align:right;
    float: right;
    height: auto;
}
#activitySearchNS{
    
    
    text-align:left;
    float: left;
    height: auto;
}
.searchContainer{
    float:right;
    display: none;
    height:40px;
}

select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  /* arrows */
  
  select.classic {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
  }
  
  select.classic:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
  }
.reportFormInput{
    height: 2em;
    float:left;
    width:47%;
    margin:2px;
}
.rfLabel{
    width: 47%;
    float:left;
    text-align: right;
    margin:2px;
}
.inputWrapper{
    width: calc(99%/3);
    margin-top:10px;
    float:left;
    
}
.btnReport{
    background-color: #5e81ad;
    height: 2.5em;
    float:right;
    width:47%;
    margin: 25px 5px 5px 0; 
}
.EODprintItem{
    font-size: 2em;
    width: 100%;
    float:left;
    border-bottom: 1px solid black;
}
.labelBox{
    float:left;
    width:50%;
    
}
.resultBox{
    float: right;
    width:50%;
    text-align: right;
}
.spacer{
    float:left;
    height:2em;
    width:100%;
    
}
#achBox{
    float:left;
    height:auto;
    width:100%;
    
}
.achLabel{
    width: 64%;
    float:left;
    text-align: right;
    margin:2px;
    
}
.achInput{
    width: 30%;
    height: 2em;
    float:left;
    
}