body{
    background-color:black;
    font-family: 'Arial Narrow';
    color: #5e81ad;
    border-bottom:1px solid #5e81ad;
}
h3{
    padding-bottom: 0px;
    
}
#backups{
    margin-top:10px;
    float:left;
}
.backupButton{
    border: 1px solid #5e81ad;
    background-color: whitesmoke;
    color: #1a1a1a;;
    margin: 5px;
    float:left;
    padding: 3px;
    cursor: pointer;
}

