:root{
	/* background color scheme */
	--clr-bg-primary: hsl(0, 0%, 96%);
	--clr-bg-secondary: hsl(0, 1%, 15%);
	--clr-bg-legend: hsl(0, 0%, 100%);
	--clr-bg-header-main: hsl(0, 0%, 0%);
	--clr-bg-header-section: hsl(213, 33%, 52%);
	--clr-bg-header-glimpse: hsl(256, 49%, 39%);
	--clr-bg-header-main-border: hsl(213, 33%, 52%);
	--clr-bg-button-main: hsl(213, 49%, 39%);
	/* job color scheme */
	--clr-spring: hsl(213, 33%, 52%);
	--clr-checkall: hsl(36, 100%, 52%);
	--clr-alignment: hsl(304, 33%, 52%);
	--clr-kingpin: hsl(124, 33%, 52%);
	--clr-frame: hsl(11, 100%, 50%);
	--clr-pending: hsl(0, 0%, 0%);

	/* font colors */
	--clr-font-header: hsl(213, 33%, 52%);
	--clr-font-header-section: hsl(0, 0%, 0%);
	--clr-font-button-main: hsl(0, 0%, 100%);

	
}
html, body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 

body {
	display:flex;
	justify-content: center;
	width:100%;	
	background-color: var(--clr-bg-secondary);	
	box-sizing: border-box;
	clear:both;
	margin:0;
}

#main {
	display:flex;	
	flex-direction:column;	
	width: 100vw;	
	max-height: 100vh;
}



#wpuJobContainer{
	padding-left: 7px;
	padding-bottom: 5px;
}
datalist{
	display:none;
	z-index: 900000;
	visibility: collapse;
}


#contentArea{
	display:none;
	
	width:100%;
	margin:0;
	clear:both;
	height:75vh;
	overflow: hidden;
	box-sizing: border-box;
    
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}
#whiteBoardContent{
	display:flex;
	flex-grow: 0;
	width:100%;/*490px;*/
	height:180px;
	float:left;
	padding: 5px;
	font-family: 'Arial Narrow';
	font-size: 1.2em;
	color:#1b1a1a;
	text-align:left;
	overflow-wrap: normal;
	box-sizing:border-box;
}



#customerContainer{
	float:left;
}
#my-form{
	padding:2px;
	line-height: 30px;
	
	text-align: left;
}
#my-form > fieldset{
	text-align:left;
}
#make{
	
	padding-bottom: -10px;
}
#menuBar {
	width: 100%;
	height: 50px;
	text-align: center;
	float: left;
	
}
#trashButton{
	width:50px;
	height:45px;	
	float:left;	
	font-size:10px;
	padding-top:40px;
	padding-left: 20px;
	display: none;

}
.dateInput{
	width:100px;
}
.newJobButton {
	width: 20%;
	border: 1px solid white;
	height: 35px;
	color: white;
	text-align: center;
	float: left;
	margin: 5px 2%;
	font-size: 22px;
	font-family: "Arial Narrow";
	cursor: pointer;
}
#login-message{
	display:flex;
	justify-content: space-around;
	color: #ff531f;
	font-size:1vw;
	margin: -2px 0px 0px 20px;
	text-align:right;
	width: 10%;
	
	
	
	/*margin-right: 20px;
	margin-top: -2px;*/
}
#legend{

	display:flex;
	justify-content: right;
	align-items: center;
	width: 100%;
	min-height:25px;
	max-height:30px;	
	background-color: var(--clr-bg-legend);	
	text-align: center;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size:.7vw; 	
	clear:both;
	
}
#legend span{
	margin-top:10px;
}
#legend img{
	vertical-align:middle;
}
#admin{
	float:right;
	margin-right:10px;
	margin-top:2px;
	
}
.newJob {
	width: 200px;
	height: 35px;
	float: right;
	margin: 5px 10px;
	border: 3px solid white;
	font-size: 25px;
	font-family: "Arial Narrow";
	color: white;
}
.frame {
	background-color: red;
}
.spring {
	background-color: blue;
}
.alignment {
	background-color: purple;
}
#kingPin {
	background-color: green;
}
#middle {
	width: 55%;
	float: left;
	height: 75vh;
	/* height:600px;635 */
	margin-top: 1px;/*5px*/
	/* margin-bottom: 1px; */
}
#right {
	width: 30%;/*32%;*/
	float: left;	
	height:75vh;
	margin-top: 1px;/* 5px */
	margin-bottom: 1px;
	margin-right:0px;
	margin-left:2px;
}

#left {
	
	width: 15%;
	float: left;
	/* margin-right:8px; */
	height:75vh;
	margin-top: 1px;/*5px;*/
	margin-left:0px;
	margin-right: 2px;
	margin-bottom: 1px;
	overflow: visible;
	box-sizing: border-box;
}
.cat {
	width: 97%;
	/*border: 2px solid #cdcdcd;*/
	float: left;
	height: 300px;
	/* margin: 2px; */
	background-color: whitesmoke;
}
#cBucket{
margin-right: px;
}


#waiting.cat {
	height: 100%;
	width: 100%;
	overflow:auto;
}
#waiting{
	
	background-repeat: no-repeat;
	
	
}

#wip.cat {
	/*height: 625px;*/
	display:flex;
	flex-direction: column;
	/* height:69%;420 */
	height: 53vh;
	width:100%;
	box-sizing: border-box;
	row-gap: 3px;
}
/* #right .cat {
	height: 205px;
	font-family: "Arial Narrow";
	font-size: 30px;
	color: #736F6E;
	text-align: center;

} */
#bottom{
	display:flex;
	flex-direction: column;

	/* float:left; */
	flex-grow: 1;
	height:31%;/*169px;*/
	width:100%;
	background-color: white;
	/* margin-left:3px; */
	box-sizing: border-box;
	margin-top: 1px;
	padding:0;

}

.glimpseHead{
	width:100%;
	background-color: #4d3394;
	color: white;
	float:left;
	
}
.glimpseItem{
	margin: 3px;
	padding: 2px;
	float:left;
	
	width:100%;
	text-align: left;
}
.glimpseData{
	width:100%;
	position:relative;
	background-color:white;
	/* font-family: 'Arial Narrow'; */
	float:left;
	cursor:pointer;
	color:black;
	text-align: center;
	overflow-x: visible;
	
}
.glimpse-context-menu{
	position: absolute;
	display:none;
	z-index: 10000;
	width:150px;
	height: 100px;
	background-color: #1b1a1a;
	margin-left: 150px;
	margin-top: -40px;
	box-shadow: 5px 10px 18px #888888;
	
}
.glimpse-context-menu > .item{
	float:left;
	font-family: 'Arial Narrow';
	padding: 2px 5px;
	font-size:16px;
	color:var(--clr-font-header);
	cursor: pointer;
	width:140px;
	
	height:20px;
	
}
.glimpseToolTip {
	display: none; /* NEW */
	
	background-color: white;
	border: 1px solid var(--clr-bg-main-header-border);
	top:10px;
	left:50px;
	/* margin-left: 10px;
	margin-top:30px; */
	box-shadow: 5px 10px 18px #888888;
	padding-left: 10px;
	padding-right:5px;
	position: absolute;
	z-index: 1000001 !important;
	max-width: 250px;
	width: 250px;
	height: auto;
	font-family: "Arial Narrow";
	font-size: 16px;
	text-align: left;
	overflow: auto;
	overflow-x: auto;
	color: rgb(41, 41, 41)
	
	
}
.colorBlock{
	font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	border-radius: 25%;	
	float:left;
	padding:3px;
}
.am{
	color:aliceblue;
}
.pm{
	color:black;
	text-shadow: 1px 1px rgb(170, 170, 170);
}
.afternoon{
	width:18px;
	height:18px;
}
.glimpseCustomer{
	width:84%;
	height:18px;
	float:left;
	display:flex;
	align-items:center;
	font-size: .8em;
	font-weight:bold;
	color: black;
	margin-left: 3px;
}
.glimpseDate{
	width:100%;
	float:left;
	
	font-size: 18px;
	font-weight:bold;
}
.glimpseNotes{
	width:100%;
	float:left;
	
	font-size: 12px;
}
.glimpseSpan{
	width:100%;
	float:left;
	
}
.bottomBox{
	width:100%;
	height:125px;
	border:2px solid var(--clr-bg-main-header-border);
	float:left;
	/* margin:3px; */
	background-color: black;
	color:var(--clr-font-header);
}
.bottomBox .header{
	
	border-bottom: 1px solid var(--clr-bg-main-header-border);
	
}
.heading{
	display: flex;
	justify-content: center;
	width:calc(100%);
	height:100%;
}
#schBox .header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	text-align:center;
}
.openBoxJobContainer{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	/* justify-content: space-around; */
	gap:5px;
	width:auto;
	height:auto;
	padding-left:7px;
	padding-bottom: 3px;
	padding-top: 3px;
	float:left;
}
.bottomBoxOpen {
	display: none; /* NEW */
	background-color: whitesmoke;
	
	left:300px;
	top:125px;
	position: absolute;
	z-index: 2000;
	width: 780px;/*350px;*/
	height: auto;/*530px;*/
	/* font-size: 12px; */
	color: black;
}
#schBox .job{
	width: 150px;
}
#schBox{
	/* margin-left:-300px; */
	/* margin-top: 50px; */
	box-shadow: 5px 10px 18px #888888;
	/* opacity:0; */
	transform:scale(0);

	
}
.fadeIn{
	animation: fadeIn 500ms forwards;
}
.fadeOut{
	animation: fadeOut 500ms forwards;
}
#posBox{
	margin-left:-200px;
	z-index:2;
}
#npuBox{
	margin-left:-100px;
	z-index:2;
}
input[type="checkbox"], input[type="radio"] {
	
    border: 0;
    background-color:white;
}
.jobStatusInfo > input{
	background-color: white;
}
#addNewJob{
	display:none;
	justify-content: center;
	align-items: center;
	float:left;
	width:200px;
	height:50px;
	background-color: var(--clr-bg-header-main);
	border:1px solid var(--clr-bg-header-main-border);
	font-size: 40px;
	color: var(--clr-font-header);
	
	vertical-align:middle;
	margin:40px;
	cursor:pointer;
	font-family: 'Arial Narrow';
}
#addNewJob:hover{
	background-color: var(--clr-bg-header-section);
	color:black;
}
#editSubmit{
	float:right;
	width:auto;
	height:auto;
	writing-mode: vertical-rl;
	background-color: whitesmoke;
	border:3px solid #cecece;
	font-family: "Arial Narrow";
	font-size: 25px;
	transform: rotate(90deg);
	margin-left:-5px;
	margin-top:40px;
	
	cursor:pointer;
}
fieldset >  input, select{
width:200px;
color:yellow;
-webkit-box-sizing: content-box;
box-sizing: content-box;
}

#reportPrint{
	/*display:none;*/
	width:500px;
	height:447px;
	float: left;
	/*position:absolute;*/
	background-color:white;
	color:black;
	font-family:"Arial Narrow";
	font-size:17px;
	border:2px solid black;
	/*margin-top:120px;
	margin-left:200px;*/
	
}
#frameReport{
	width:0px;
	height:0px;
	display: none;
}
#reportHeader{
	font-size:30px;
	width:100%;
	border-bottom:3px solid black;
	text-align:center;
	float:left;
	/*margin:20px;*/
}
#reportForm input:focus{
	background-color:whitesmoke;
	cursor:text;
}
#reportPrint h3{
	
	margin-top:50px;
	border-bottom:1px solid black;
}
.lineItem{
	width:100%;
	border-bottom:1px solid black;
	height:20px;
	background-color:white;
	float:left;
	/*margin:0px 20px 0px 20px;*/
	
	
}
.reportData{
	font-size:30px;
	margin-top:20px;
	font-weight:bold;
	border-bottom:2px solid black;
}
.lineItem:nth-child(even){
	background-color:whitesmoke;
}
div.lineItem:first-child{
	border-top:1px solid black;
}
.reportTotal{
	float:right;
	width:50%;
}
/*report form styling*/
#reportFormWrapper{
	/*display:none;*/
	width:350px;
	height:auto;
	/*position:absolute;*/
	float: left;
	background-color:white;
	color:black;
	font-family:"Times New Roman";
	font-size:17px;
	border:2px solid black;
	/*margin-top:120px;
	margin-left:804px;*/
	line-height: 25px;
	
}
#reportFormWrapper > form{
	margin:5px;
	text-align:right;
}
#reportFormWrapper > form > label{
	display:inline-block;
	width:175px;
	text-align:right;
}

.hiddenFieldset{
	display:none;
	width:100%;
	border:1px solid black;
	background-color: yellow;
}
#unitWrapper{
	margin-top: -20px;
}
#cbWrapper{
	
	width:400px;
}

#legend-color-blocks{
	display:flex;
	justify-content: space-around;
	align-items: center;
	/* float: left; */
	/* margin: 0px 30px 0px 10px; */
	width: 23%;
	height:100%
}
#legend-color-blocks span{
	display:flex;
	justify-content: center;
	align-items: center;
	float: left;
	padding:3px;
	color:white; 
	margin:0px 3px 0px 3px;
	width:19%; 
	height:auto;
	border: 1px solid black;
	font-size: .7vw;
}
#legend-statuses{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: .7vw;
	margin-top: 2px;
	width:65%;
	color:white;
	
	
}
#legend-status{
	display: flex;
	flex-direction: row;
	width: 16%;
}
#legendButtonContainer{
	display:flex;
	justify-content: right;
	align-items: center;
	height:100%;
	gap:5px;
	padding-right:5px;
	/*display:inline-block;
	padding-top: -10px;*/
	/* margin: -3px 0 0 0; */
	
	width:25%;
}
.legendButton{
	display:flex;
	justify-content: center;
	align-items: center;
	
	height:80%;
	font-size:.9em;
	
	width:25%;
	
	background-color:var(--clr-bg-button-main);
	color:var(--clr-font-button-main);	
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
}
.legendButton:hover{
	background-color: black;
	
}
#btnAdmin{
	display: none;
	position:relative;
	padding-bottom:-5px;
	
	
}
#btnContacts{
	display:none;
}
#btnReports{
	display:none;
}
.adminMenu{	
	display:none;	
	width:100px;
	color: white;
	position: absolute;
	
	top:20px;
	left:0px;
	height:auto;
	background-color:black;
	border:1px solid black;	
	box-shadow: 5px 10px 18px #888888;
	
}


.adminMenuItem{
	display:flex;
	align-items: center;
	height: 25px;
	padding-top: 5px;
	padding-left:5px;
	text-align: left;
	
}
.adminMenuItem:hover{
	background-color: #335f94;
	
	
}
.adminSubMenu{
	
	position: relative;
	
	margin-left: 100px;
	margin-top: -21px;
	height:auto;
	
}
.adminSubMenu .adminMenuItem {
	min-height: 25px;
	height:auto;
}


#g span{
	display:block;
	
	float:right;
	margin:5px;
	clear: both;
}


.job {
	display:flex;
	height: 94px;
	
	border: 1px solid var(--clr-bg-header-main-border);
	border-radius: 5px;
	/* margin: 2px; */
	padding:0;
	box-sizing: border-box;	
}
.job:hover .tooltip{
	display:block;
}
.waitingForParts .job {
	width: 48%;
	height: 44px;
	margin-left: 0;
}
.bottomBoxOpen .job {
	width: 19%;/*48%;*/
	height: 44px;
	margin-left: 0;
}

#waiting .job {
	width: 100%;/*24%; */
	/* height: clamp(6%, 5vh, 35px); */
	height:7.5%;
	padding:0;
	flex-grow: 0;
	
}
#wip .job {
	width: 48%;
	/* height: 5.5vh; */
	height: 100%;
}
.shop-section{
	display: flex;
	flex-direction: row;
	width:100%;
	justify-content: space-evenly;
	height: 9.8%;
}
#refresh.cat {

	height: 30px;
	cursor: pointer;
	color: #736f73;
	background-color: whitesmoke;
	border: 2px solid #cecece;
}

.header {
	width: 100%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 550;
	background-color: var(--clr-bg-header-section);
	color: var(--clr-font-header-section);
	text-align: center;
	
	
	
}
.headerMiddle {
	width: 100%;
	
	float: left;
	
	font-family: "Arial Narrow";
	font-size: 84px;
	color: #736f6e;
	text-align: center;
	border-bottom: 2px solid whitesmoke;
}
.count {
	width: 90%;
	float: left;
	margin: 5px;
	border: 1px solid black;
	background-color: white;
	color: #525252;
	font-size: 40px;
}

#SCH{
	border: none;
	height: 100%;
	background-color:whitesmoke;
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
	
	
}




.vehicle {
	display:flex;
	/* justify-content: space-between; */
	flex-grow:1;
	width: calc(100%);
	height:calc(100%);
	font-family:Manrope,"Arial Narrow";
	
	/* margin-top: -1px;
	margin-bottom:-1px;
	margin-left:-1px; */
	/* background-repeat: no-repeat; */
	/* padding:1px; */
	box-sizing: content;
	/* overflow: hidden; */
	cursor:pointer;
	border-radius: 5px;
	margin-right:-1px;
	
	
}
.jobCatSpring{
	background-color: var(--clr-spring);
	
}
.jobCatSpringScheduled{
	background: repeating-linear-gradient(
		45deg,
		hsl(213, 33%, 52%),
		hsl(213, 33%, 52%) 5px,
		hsl(213, 33%, 40%) 5px,
		hsl(213, 33%, 40%) 10px
	  );
}
.jobCatAlignment{
	background-color: var(--clr-alignment);
}
.jobCatAlignmentScheduled{
	background: repeating-linear-gradient(
		45deg,
		hsl(304, 33%, 52%),
		hsl(304, 33%, 52%) 5px,
		hsl(304, 33%, 40%) 5px,
		hsl(304, 33%, 40%) 10px
	  );
}
.jobCatFrame{
	background-color: var(--clr-frame);
}
.jobCatFrameScheduled{
	background: repeating-linear-gradient(
		45deg,
		hsl(11, 100%, 50%),
		hsl(11, 100%, 50%) 5px,
		hsl(11, 100%, 38%) 5px,
		hsl(11, 100%, 38%) 10px
	  );	
}
.jobCatKingPin{
	background-color: var(--clr-kingpin);
}
.jobCatKingPinScheduled{
	background: repeating-linear-gradient(
		45deg,
		hsl(124, 33%, 52%),
		hsl(124, 33%, 52%) 5px,
		hsl(124, 33%, 40%) 5px,
		hsl(124, 33%, 40%) 10px
	  );
}
.jobCatCheckAll{
	background-color: var(--clr-checkall);
}
.jobCatCheckAllScheduled{
	background: repeating-linear-gradient(
		45deg,
		hsl(36, 100%, 52%),
		hsl(36, 100%, 52%) 5px,
		hsl(36, 100%, 42%) 5px,
		hsl(36, 100%, 42%) 10px
	  );
}
.overflow{
	background-color: var(--clr-pending);
	
}
.info {
	width: 92%;
	float: left;
	font-family:  Helvetica, sans-serif;
	flex-grow:1;
	text-align: center;
	font-size: .65em;
	background-repeat: no-repeat;
	
	height: 100%;
	/* border-radius: 5px 0 0 5px; */
	
	
	overflow: hidden;
  text-overflow: ellipsis;
}
.notes{
	
	line-height: 1em;
	height:2em;
	overflow:hidden;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	
}
.notesOverflow{
	background-color:orange;
	
}
.mainJobCustomerName {
	/* font-family: Manrope ExtraBold; */
	font-weight:800;
	padding-top: -2px;
	padding-bottom:1px;
	/* font-size: .9em; */
	width: 100%;
}

.jobCat {
	width: 8.1%;
	float: right;	
	height: 101%;
	border-right: 1px solid var(--clr-bg-header-main-border);
	border-radius: 0 5px 5px 0;
}
#mainHeader{
	clear:both;
}
.mainHeader {
	display:flex;
	justify-content: space-around;	
	width:100%;/*1580px;	*/
	height: clamp(120px,20%,130px);	
	background-color: var(--clr-bg-header-main);
	/*border: 2px solid #cdcdcd;*/
	color: #736F6E;
	text-align: center;	
	padding-top:5px;
}
#headerLeft{
	float: left;
	width:30%;
}
#headerMiddle{
	float:left;
	background-image: url("../images/wordmark3.png");
	background-repeat:no-repeat;
	background-position: center;
	background-size: contain;
	width:40%;
	
	margin-top:3px;
	margin-bottom:3px;
}
#headerRight{
	display:flex;
	
	
	float:left;
	width:30%;
}
#topCounts{
	display:flex;
	justify-content: space-around;
	float:left;
	display:none;
	width: 100%;
	height:75px;
	margin-top: 25px;
	color: var(--clr-font-header);
	font-family:'Arial Narrow'

	
}
.topCountBox{
	border: 1px solid var(--clr-bg-header-main-border);
	/* float:left; */
	height: 65px;
	width:17%;
	/* margin:5px; */
}
.topCountHeader{
	border-bottom:1px solid var(--clr-bg-header-main-border);
	font-size: 14px;
}
.topCount{
	color: var(--clr-font-header);
	font-size: 25px;
	margin-top: 10px;
}
.schTopCountHeader{
	border-bottom:1px solid var(--clr-bg-header-main-border);
	font-size: 14px;
	background-color: var(--clr-font-header);
	color: black;
}


#formHeader.header {
	font-size: 30px;
	border-bottom-color: whitesmoke;
	background-color: rgb(167, 223, 188);
}
input {
	border: 1px solid black;
	background-color: white;
}
.headerShop {
	width: 100%;
	display:flex;
	justify-content: center;
	/* float: left; */
	font-family: "Arial Narrow";
	font-size: 1em;
	color: black;/*#736f6e;*/
	
	background-color: #cecece;
	border-bottom: 1px solid #cecece;
	
	box-sizing: border-box;
	
}
#notesArea {
	width: 98%;
	height: 145px;
	overflow: auto;
	
	border: 1px solid #CECECE;
}
#saveNotes {
	float: right;
	border: 1px solid black;
	width: 100px;
	color: black;
	background-color: #CECECE;
	cursor: pointer;
	font-size: 15px;
}
.vehicle:hover .tooltip {/* NEW */
	
	color: black;
	
	max-width: 250px;
	display: block;
	z-index:4;
}

.vehicle:hover .toolTipBottom {/* NEW */
	color: black;
	
	max-width: 250px;
	display: block;
	z-index:4;
}
.vehicle:hover .tooltipLast {
	color: black;
	/* margin-top: -400px; */
	
	max-width: 250px;
	display: block;
	z-index:4;
}
.vehicle:hover .tooltipRight {
	color: black;
	/* margin-top: -400px; */
	
	max-width: 250px;
	display: block;
	z-index:4;
}

#wpuBoxHeader{
	text-align: center;
}
#wpuBox{
	box-shadow: 5px 10px 18px #888888;
	top:350px;
	right: -100px;
	/* left: 600px; */
	border:1px solid #335f94;
}
#wpuBox .job{
	width:150px;
}
#WPU .vehicle:hover .tooltip{
	display:block;
	margin-left:-150px;
}
#npuBox .vehicle:hover .tooltip{
	margin-left:-90px;
	
}
#buckets{
	display:flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	height:71.5vh;
	width:100%;
}
.bucket{
	display:flex; 
	flex-direction:column;
	justify-content: center;
	align-items: center;
	gap:5px;
	width: 13%;/*18.5%;*/
	margin: 0;
	padding: 0;
	height:70vh;
	float:left;
	padding-top:5px;
}
.bucketHeader{
	font-family: 'Arial Narrow';
	display:flex;
	justify-content: center;
	align-items: center;
	
	color: white;
	width:100%;
	height: 20px;
}
.pending{
	
	background-color:rgb(241, 241, 241);
}
#posBox:hover{
	z-index:5;
}


.tooltip {
	display: none; /* NEW */
	background-color: white;
	border: 1px solid var(--clr-bg-main-header-border);
	
	
	margin-left: 105px;
	margin-top:30px;
	box-shadow: 5px 10px 18px #888888;
	padding-left: 10px;
	padding-right:5px;
	position: absolute;
	z-index: 100000 !important;
	max-width: 250px;
	width: 250px;
	height: auto;
	font-family: "Arial Narrow";
	font-size: 16px;
	text-align: left;
	overflow: auto;
	overflow-x: auto;
	
	
}
.toolTipBottom {
	display: none; /* NEW */
	background-color: white;
	border: 1px solid var(--clr-bg-main-header-border);
	
	margin-left: 115px;
	transform: translateY(-90%);
	
	box-shadow: 5px 10px 18px #888888;
	padding-left: 10px;
	padding-right:0px;
	position: absolute;
	z-index: 100000 !important;
	max-width: 250px;
	width: 250px;
	height: auto;
	font-family: "Arial Narrow";
	font-size: 16px;
	text-align: left;
	overflow: auto;
	overflow-x: auto;
	
}
.tooltipRight{
	display: none; /* NEW */
	background-color: white;
	border: 1px solid var(--clr-bg-main-header-border);
	
	margin-left: -115px;
	transform: translateY(25%);
	
	box-shadow: 5px 10px 18px #888888;
	padding-left: 10px;
	padding-right:0px;
	position: absolute;
	z-index: 100000 !important;
	max-width: 250px;
	width: 250px;
	height: auto;
	font-family: "Arial Narrow";
	font-size: 16px;
	text-align: left;
	overflow: auto;
	overflow-x: auto;	
}
.tooltipLast{
	display: none; /* NEW */
	background-color: white;
	border: 1px solid black;
	/* margin-top: -50px; */
	clear: both;
	transform: translateY(-90%);
	
	margin-left: 115px;
	
	box-shadow: 5px 10px 18px #888888;
	padding-left: 10px;
	position:absolute;
	z-index: 10000 !important;
	max-width: 250px;
	width: 250px;
	height: auto;
	font-family:"Arial Narrow";
	font-size: 16px;
	text-align: left;
	overflow: auto;
	overflow-x: auto;
}

.waitingForParts {
	display: none; /* NEW */
	background-color: whitesmoke;
	
	margin-top: -145px;
	margin-right: 430px;
	margin-left: -100px;
	
	position: absolute;
	z-index: 2000;
	width: 320px;
	height: auto;
	/* font-size: 12px; */
	color: black;
}
.closeButton{
	float:right;
	/*background-image:url("../images/redxicon.png");*/
	background-repeat: no-repeat;
	width:30px;
	height: 25px;
	/*margin-top: 5px;
	margin-right:5px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size:20px;
	cursor: pointer;
	padding-bottom:7px;
	/*padding-top: -20px;*/
	
	
}
#t{
	
	display: none;
	
	width:25px;
	height:25px;
	float:left;
	padding-left:5px;
	padding-top: 5px;
}
.closeButton:hover{
	background-color: red;
	color:white;
}
.closeButton img{
	border:2px solid black;
	margin-top:5px;
}
.money{
	color: green;
}
/*
.waitingForParts .tooltip {
	margin-left: -100px;
	font-size: 13px;
	font-weight: normal;
	height: 55px;
	width: 115px;
}
*/
#WPU{
	text-align: center;
	

}
#WPU .waitingForParts{
	margin-top: -100px;
}

/*
.cat:hover .waitingForParts {
	display: block;
}
*/
.couponcode {
	margin: 100px;
}
#SCH .catButton{
	background-color: var(--clr-bg-main-header-border);
	color:black;
	cursor:default;
	margin:0;
	width:100%;
	border: none;
}
#compBox{
	cursor: pointer;
}

.upcomingBox{
	margin:2px 0 0 2px;
	width:97%;
	/* position:relative; */
	/* height: 40px; */
	border: 1px solid black;
	float:left;
}
#schPopUp{
	
	float:left;
	
	
	margin:0px;
	height: 75px;
	width: 100%;
	border-radius: 10px;
	
}
.ucWrapper{
	display: flex;
	flex-direction: column;
	width:95%;
	flex-grow:1;
	flex-basis: 56vh;
	
	margin-left: 7px;
	/* overflow-y: auto; */
	overflow:visible; 
	font-family:Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
.viewButton{
	float:left;
	font-size: 18px;;
	font-family: "Arial Narrow";
	border-radius: 5px;
	height: 23px;
	width: 80%;
	margin: 5px 0 5px 20px;
	font-weight:500;
	background-color: #335f94;
	text-align: center;
	cursor: pointer;
	color:white;
	padding-top: 2px;
	box-sizing: border-box;
	
}
.viewButton:hover{
	background-color: black;
	color:white;
	
}
#schQuestionBox{
	position:relative;
	width:200px;
	height:125px;
	border: 2px solid black;
	float:left;
	display:none;
	text-align:center;
	top:-300px;
	left: -200px;
	border-radius: 8px;
	background-color: whitesmoke;
	font-family: "Arial Narrow";
}
#schQuestionLabel{
	margin:5px;
	float:left;
}
#schInputBox{
	width:100%;
	float:left;
	margin:5px;
}
#schRads{
	width:100%;
	float:left;
}
.unitNumber{
	display: inline-block;
	width: 100%;
	height:auto;
	font-size:.8em;
	font-weight:600;
	
}
.jobIndicator{
	display: none;
	width:14px;;
	
	background-repeat: no-repeat;
	height: 9px;
	
	margin-left: 3px;
}
.context-Menu{
	
	position: absolute;
	display:none;
	z-index: 10000;
	width:150px;
	height: 100px;
	background-color: #1b1a1a;
	/* margin-left: 150px; */
	/* margin-top: -20px; */
	transform: translate(50%,-90%);
	/* transform:translateX(50%); */
	/* box-shadow: 5px 10px 18px #888888; */
	border: 1px solid black;
	
}
/* .context-Menu::after{
	transform: skewX(-45deg);
    content: "";
    position: absolute;
    top: 100%;
    right: 100%;
    border-width: 15px 10px 0 0;
    border-style: solid;
    border-color: #1b1a1a transparent;
} */
.left{
	margin-left: -75px;
}

.jtWrapper{
	position:relative;
}

.popuprow{
	display:flex;
	flex-direction: column;
	width: 100%;
	padding-left: 10px;
	margin-top:10px;
	box-sizing: border-box;
}
.flexRow{
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	padding-right: 15px;
	box-sizing: border-box;
}
.buttonrow{
	
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.halfrow{
	float:left;
	width:40%;
}
.popupButton{
	float: left;
	border:1px solid var(--clr-bg-main-header-border);
	background-color: black;
	color: var(--clr-font-header);
	width: 70px;
	margin-left:5px;
	margin-right:7px;
	text-align: center;
	font-size: 14px;
	padding: 5px 2px;
	
}
.popupButton:hover{
	background-color: var(--clr-bg-main-header-border);
	color:black;
}
.popupHeader{
	float:left;
	font-size: 14px;
	border-bottom: 1px solid white;
	width:100%;
	margin-bottom: 10px;
	text-align: center;
}
.context-submenu{
	position:absolute;
	display:none;
	z-index: 100000;
	width:270px;
	/* height: 390px; */
	background-color: #5e81ad;/*#1b1a1a;*/
	margin-left: 150px;
	margin-top: -60px;
	box-shadow: 5px 10px 18px #888888;
	color:white;
	padding-top:10px;
	border:2px solid white;
	font-family: 'Arial Narrow';
	
}

.context-Menu > .item{
	float:left;
	font-family: 'Arial Narrow';
	padding: 2px 5px;
	font-size:16px;
	color:var(--clr-font-header);
	cursor: pointer;
	width:140px;
	/* transform:translateY(100%); */
	height:20px;
	
}

#jobIndicatorContainer{
	width:100%;
}

.item:hover{
	
	background-color: var(--clr-bg-header-section);
	color: var(--clr-font-header-section);
	
}
.jobIndicatorCash{
	background-image: url('../images/cash2.svg');
	background-size: 9px;
}
.jobIndicatorWaiting{
	background-image: url('../images/waiting.svg');
	background-size: 9px;
}

.jobIndicatorParts{
	background-image: url('../images/parts.svg');/*iconParts.png*/
	background-size: 9px;
}
.jobIndicatorApproval{
	background-image: url('../images/approval.svg');
	background-size: 9px;
}
.jobIndicatorComeback{
	background-image: url('../images/schedule4.svg');
	background-size: 9px;
}
.jobIndicatorChecked{
	background-image: url('../images/checkmark.svg');
	background-size: 9px;
}

#footer{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;/*1580px;*/
	min-height:25px;
	max-height:30px;
	/* height:clamp(25px,4%,30px); */
	/* float:left; */
	background-color: var(--clr-bg-header-section);
	color:#525252;
	/* padding-top: 5px; */
	text-align: center;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size:.7vw; 
	border-top:1px solid black;
	/* margin:0; */
	
}
@keyframes fadeIn {
	100%{transform:scale(1);}
	
}
@keyframes fadeOut {
	100%{transform:scale(0);}
}